.btn {
  height: 5.6rem;
  padding: 0 1.6rem;
  background-color: $color-primary;
  color: $color-white;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: $font-primary;
  outline: none;
  border: 0px;
  // border-radius: 0.3rem;
  cursor: pointer;
  & a {
    color: $color-white !important;
  }
}

.select {
  height: 5.6rem;
  background-color: $color-white;
  border-radius: 0.5rem;
  // border: 0.2rem solid $color-primary;
  padding-left: 1.6rem;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 500;
}

.input {
  height: 5.6rem;
  background-color: $color-white;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1.6rem;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 500;
  &::placeholder {
    font-family: $font-primary;
    font-size: 1.6rem;
  }
}

.textarea {
  background-color: $color-white;
  border-radius: 0.5rem;
  // border: 0.2rem solid $color-primary;
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  font-size: 1.6rem;
  font-family: $font-primary;
  &::placeholder {
    font-size: 1.6rem;
    color: $color-black;
  }
}

// doesnt work funnly on firefox or edge, need to fix

.range-slider {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .paragraph {
    &:nth-of-type(1) {
      width: 20%;
      // border: 2px solid blue;
    }
    &:nth-of-type(2) {
      width: 20%;
      // border: 2px solid red;
    }
  }
}

.slider {
  width: 55%;
  position: relative;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: #b3b3b3;
  width: 100%;
  height: 0.4rem;
  position: absolute;
  left: 0;
  margin: 0;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  // height: 100%;
  height: 0.1rem;
  // background: #b3b3b3;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #333333;
  margin-top: -0.8rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #b3b3b3;
}

input[type='range']::-moz-range-track {
  width: 100%;
  // height: 100%;

  height: 0.1rem;
  background: #b3b3b3;
  border: none;
  border-radius: 3px;
}

input[type='range']::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #333333;
}

/*hide the outline behind the border*/

input[type='range']:-moz-focusring {
  // outline: 1px solid b3b3b3;
  outline-offset: -1px;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 0.1rem;
  // height: 100%;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
  z-index: -4;
}

input[type='range']::-ms-fill-lower {
  background: #b3b3b3;
  border-radius: 10px;
}

input[type='range']::-ms-fill-upper {
  background: #b3b3b3;
  border-radius: 10px;
}

input[type='range']::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #333333;
}

input[type='range']:focus::-ms-fill-lower {
  background: #888;
}

input[type='range']:focus::-ms-fill-upper {
  background: #b3b3b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  &__row {
    border-collapse: collapse;
    &__head {
      text-align: left;
      padding: 1.6rem 0;
      text-transform: uppercase;
      color: $color-primary;
    }
    &__cell {
      text-align: left;
      border-top: 0.1rem solid #e5e5e5;
      border-collapse: collapse;
      padding: 3.2rem 0;
    }
  }
}
.rating {
  stroke: #f2c94c;
  fill: #f2c94c;
  height: 2.4rem;
  width: 2.4rem;
  &:last-of-type {
    fill: $color-white;
    stroke: $navbar-grey;
  }
}
.rating-text {
  color: $color-black;
  font-size: 1.6rem;
}

.heading-link {
  margin: 4.8rem 0 2.4rem 0;
  & > * {
    &:not(:last-child) {
      font-weight: 600;
    }
  }
}

.separator {
  height: 0.2rem;
  border: none;
  background-color: $color-secondary;
  margin: 1.6rem 0;
}

.container {
  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0 12.8rem;
  }
  @media all and (min-width: 1440px) and (max-width: 1920px) {
    padding: 0 24rem;

    width: 100%;
  }
  @media all and (min-width: 1920px) {
    padding: 0 32rem;
    max-width: 192rem;
    margin: 0 auto;
    // border: 2px solid red;
  }
}

.container-navbar {
  background-color: $navbar-grey;
  width: 100%;
}

.container-menu {
  background-color: $color-white;
  padding-top: 2.4rem;
  width: 100%;
  padding-bottom: 2.4rem;
}
.container-about {
  background-color: #f8f7f5;
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  // border: 2px solid red;
  width: 50%;
  border-radius: 0.5rem;
}
